 
# create a file name it as .env.development for gatsby develop 
# create a file name it as .env.production for gatsby build
# copy & paste below content to the newly created env file.

CONTENTSTACK_API_KEY= YOUR_API_KEY
CONTENTSTACK_DELIVERY_TOKEN= YOUR_DELIVERY_TOKEN
CONTENTSTACK_ENVIRONMENT= YOUR_PUBLISHING_ENVIRONMENT

# For live preview 
CONTENTSTACK_MANAGEMENT_TOKEN=YOUR_MANAGEMENT_TOKEN 
CONTENTSTACK_API_HOST=api.contentstack.io
CONTENTSTACK_APP_HOST=app.contentstack.com

CONTENTSTACK_LIVE_PREVIEW=true
CONTENTSTACK_LIVE_EDIT_TAGS=false

#sitemap generation
#hosted site url example: https://contentstack-gatsby-starter-app.vercel.app/
#CONTENTSTACK_HOSTED_URL =http://localhost:3000

# For enabling live editing tags for this project set CONTENTSTACK_LIVE_PREVIEW=true by default it is set to false
# For EU region add CONTENTSTACK_APP_HOST=eu-app.contentstack.com
# For EU region add CONTENTSTACK_API_HOST=eu-api.contentstack.com